*.avi
*.pyc
*.swp
*.model
log/*
data/output/*
*.pkl
*.log
*.ll
*.txt
*.txt*
*.so
*.o
*.*~
*.jpg
a.out
test.cpp
*.swp
tmp/*
*/snapshot/*
examples/try*
fullperformance/*
*.py.*
*.py_*
*.bak
*.bits
*.rec
# *.png
*.npy
*.mp4
*.mkv
*.yuv